@import 'bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary: #475569;
    --primary-dark: #1e293b;
    --limo-light: #94A3B8;
    --secondary: #dc2626;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Fira Sans', sans-serif;
    --icon-color: #777777;
    --contact-icon-color: #94A3B8;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: var(--secondary-font);
}
h6 {
    font-size: .95em;
}

body {
    font-family: var(--primary-font);
    background-color: #F8FAFC;
}

/* Custom classes */
.text-primary-dark {
    color: var(--primary-dark);
}
.text-limo-primary {
    color: var(--primary);
}
.text-limo-light {
    color: var(--limo-light);
}
.link-primary {
    color: var(--primary);
}
.link-primary:hover {
    color: var(--secondary);
}

.link-secondary {
    color: var(--secondary) !important;
}
.btn-limo {
    background-color: var(--secondary);
    color: var(--bs-light)
}
.btn-limo:hover {
    background-color: var(--bs-light);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.btn-limo-primary {
    background-color: var(--primary-dark);
    color: var(--bs-light)
}
.btn-limo-primary:hover {
    background-color: var(--bs-light);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.btn-limo-secondary {
    background-color: var(--secondary);
    color: var(--bs-light)
}
.btn-limo-secondary:hover {
    background-color: var(--primary-dark);
    color: var(--bs-white);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.bg-limo-secondary {
    background-color: var(--secondary);
}
.bg-limo-secondary-image {
    background-image: url('../images/cta-red-bg.svg');
    background-color: var(--bs-white);
    background-repeat: no-repeat;
    background-size: 60%;
}

.bg-gradient {
    background: linear-gradient(180deg, rgb(255 255 255 / 80%), rgb(169 169 169 / 8%)) !important
}

.bg-bottom-cta-image {
    background-image: url('../images/grey-slanted-bg.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: right;
}

/* Top Navigation */
.navbar .nav-link {
    color: var(--primary);
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: var(--secondary);
}
.navbar .navbar-toggler {
    color: var(--primary);
    border-color: var(--primary);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30,41,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.dropdown-menu {
    background-color: var(--primary);
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu li a {
    color: var(--bs-white);
}
.dropdown-menu li:hover a {
    background-color: var(--secondary);
    color: var(--bs-white);
}

/* Home - Hero Section */
section.hero {
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 675px; */
    padding-top: 10.094rem;
    padding-bottom: 10.094rem;
}

.hero h1 {
    letter-spacing: -2px;
}


/* Home - Home Services Section */
.card-title a {
    color: var(--bs-dark);
}
.card-title a:hover {
    color: var(--secondary);
}

/* Home - CTA Section */
.cta .card .card-body img {
    width: 20% !important;
}

/* Home - Vehicles Section */
.vehicles .card .card-header ul li {
    font-size: .6em;
}

/* Services - Services Intro */
.services-intro,
.airport-transfers,
.occassions, .contact {
    padding-top: 8em;
    padding-bottom: 8em;
}

/* Airport Transfers */
.airport-transfers.top-banner {
    background-image: url('../images/airport-transfers-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Special Occassions */
.occassions.top-banner {
    background-image: url('../images/occassions-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.limo-list li {
    position: relative;
    padding-left: 2em;
    line-height: 1.7;
    margin-bottom: .8em;
}
.limo-list li:before {
    content: "\f058";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    color: var(--icon-color);
}

/* Contact Page */
.contact.top-banner {
    background-image: url('../images/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer Section */
footer a {
    color: var(--primary);
}
footer a:hover {
    color: var(--secondary);
}

/* Media Queries */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .me-n1 {
        margin-left: -10% !important;
    }
}

@media (max-width: 768px) {
    /* Top Navigation */
    .navbar {
        background-color: var(--bs-white) !important;
    }
    .navbar-brand {
        width: 75%;
    }
    /* Hero Section */
    section.hero {
        background-position: top left;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    .bg-limo-secondary {
        background-size: cover;
    }
    .services-intro,
    .airport-transfers,
    .occassions,
    .contact {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}